.admin-pg {
  margin-top: 2rem;
  margin-left: 2rem;
}

.btns {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.admin-body {
  display: flex;
}
.trope-form {
  width: 500px;
  max-width: 650px;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #c47a7a;
  border-radius: 5px;
  background-color: white;
}

.form-title,
.table-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-btns {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.spoiler {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
}
