.btn {
  background-color: #c47a7a;
  border: 1px solid transparent;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btn:hover {
  color: #c47a7a;
  background-color: white;
  border-color: #c47a7a;
}
