.btn {
  background-color: #c47a7a;
  border: none;
  color: white;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 1rem;
}
